<div class="row landing-panel container-fluid">
    <jp-site-header [user]="user"></jp-site-header>


  <div class="row claim">
    <div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
      <div class="claim-text">
        <h1 class="hidden-xs">
          <span class="dark-bg">Online open source text editor</span>
        </h1>
        <h3 class="hidden-xs">
          <span class="dark-bg">Share the link and coauthor simultaneously</span>
        </h3>
        <h2 class=" visible-xs">
          <span class="dark-bg">Online open source text editor</span>
        </h2>
      </div>
    </div>
  </div>

  <div class="row claim-input">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
      <form [formGroup]="landingForm"
            (ngSubmit)="goToDocument(landingForm.get('documentTitle').value)"
            class="center-block">


          <div class="form-group label-placeholder is-empty">

            <label for="documentTitleInput" class="control-label label-floating">Document name</label>
            <input formControlName="documentTitle" id="documentTitleInput" class="form-control" type="text">
            <span  id="documentTitleHelp" class="help-block"
                  [ngClass]="{'hidden' : landingForm.status == 'VALID'}">Name can't contain special chars and must be minimun 4 chars long</span>
          </div>

          <button type="submit" class="btn btn-raised btn-primary pull-right hidden-xs" style="margin-top: 2.5em"
          [ngClass]="{'disabled': landingForm.status == 'INVALID'}">Open / Create</button>
          
          <button type="submit" class="btn btn-raised btn-primary visible-xs center-block" style="margin-top: 3em; margin-left: auto; margin-right:auto"
          [ngClass]="{'disabled': landingForm.status == 'INVALID'}">Open / Create</button>     
          
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 footer">
      <p>Copyright Pablo Ojanguren, Alejandro Garrido, David Llop and University Complutense of Madrid.</p>
      <p>Source code licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">AGPL v3</a>.
          Documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0.</a></p>

        <button class="btn btn-link">
            <a href="https://github.com/P2Pvalue/jetpad" target="_blank">
                GitHub
            </a>
        </button>
        <button class="btn btn-link">
            <a href="https://twitter.com/getjetpad" target="_blank">
                Twitter
            </a>
        </button>
    </div>
  </div>

</div>
