body {
  //Body padding required for the navbar-fixed-top
  padding-top: 0px;
}

.navbar {
  background-color: $primary-color;
}

.navbar-nav{
  li{
    a {
      color: $white;
    }
  }
}

.navbar-brand {
  vertical-align: middle;
  padding-left: 15px;
  padding-top: 4px;
}
