$black:                     #000000;
$white:                     #FFF;

$primary-color:             #0072BC;
$primary-color-blend:       #0580CF;
$primary-color-blend-dark:  #0069AE;
$primary-color-muted:       #B2D4EA;
$secondary-color:           #F34E1E;
$secondary-color-blend:     #CA3610;

$text-color:                #454545;
$text-color-blend:          #7F7F7F;
$text-color-negative:       $white;

$links-color:               $primary-color;

$success-color:             #0EBC00;
$success-color-border:      #0C9F00;
$error-color:               #CA3610;
$highlight-color:           #FFF600;

$light-gray:                #FAFAFA;
$soft-gray:                 #E0E0E0;
$bg-gray:                   #F3F3F3;
$caret-gray:                #C4C4C4;

$red:                       #D60909;
