@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Rubik:300,400,700');

.h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 60px;
	font-weight: 300;
	color: $white;
	margin-bottom: 28px;
}

.text-inverse {
	color: $white;
}