
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/*
@font-face {
  font-family: "Rubik";
  src: url("~assets/fonts/Rubik/Rubik-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Rubik";
  src: url("~assets/fonts/Rubik/Rubik-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Rubik";
  src: url("~assets/fonts/Rubik/Rubik-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Droid Serif";
  src: url("~assets/fonts/Droid_Serif/DroidSerif.ttf");
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "Droid Serif";
  src: url("~assets/fonts/Droid_Serif/DroidSerif-Bold.ttf");
  font-weight: bold;
	font-style: normal;
}
@font-face {
  font-family: "Droid Serif";
  src: url("~assets/fonts/Droid_Serif/DroidSerif-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Droid Serif";
  src: url("~assets/fonts/Droid_Serif/DroidSerif-BoldItalic.ttf");
  font-weight: bold;
	font-style: italic;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("~assets/fonts/Liberation_Sans/LiberationSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Liberation Sans";
  src: url("~assets/fonts/Liberation_Sans/LiberationSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Liberation Sans";
  src: url("~assets/fonts/Liberation_Sans/LiberationSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Liberation Sans";
  src: url("~assets/fonts/Liberation_Sans/LiberationSans-BoldItalic.ttf");
  font-weight: bold;
	font-style: italic;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("~assets/fonts/Liberation_Serif/LiberationSerif-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("~assets/fonts/Liberation_Serif/LiberationSerif-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("~assets/fonts/Liberation_Serif/LiberationSerif-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("~assets/fonts/Liberation_Serif/LiberationSerif-BoldItalic.ttf");
  font-weight: bold;
	font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("~assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("~assets/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("~assets/fonts/Open_Sans/OpenSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("~assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf");
  font-weight: bold;
	font-style: italic;
}
*/
