//
// Material Design Icons
//

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("~assets/fonts/Material_Icons/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: url("~assets/fonts/Material_Icons/MaterialIcons-Regular.woff2") format('woff2'),
       url("~assets/fonts/Material_Icons/MaterialIcons-Regular.woff") format('woff'),
       url("~assets/fonts/Material_Icons/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

//
// Open Sans
//

@font-face {
  font-family: "Open Sans";
  src: url("~assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("~assets/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("~assets/fonts/Open_Sans/OpenSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("~assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf");
  font-weight: bold;
	font-style: italic;
}

//
// Roboto
//

@font-face {
  font-family: "Roboto";
  src: url("~assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("~assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("~assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("~assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}


//
// Roboto italic
//

@font-face {
  font-family: "Roboto";
  src: url("~assets/fonts/Roboto/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("~assets/fonts/Roboto/Roboto-ThinItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("~assets/fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("~assets/fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

//
// Roboto Mono
//

@font-face {
  font-family: "Roboto Mono";
  src: url("~assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("~assets/fonts/Roboto_Mono/RobotoMono-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("~assets/fonts/Roboto_Mono/RobotoMono-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("~assets/fonts/Roboto_Mono/RobotoMono-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
