header {
  .navbar {
    background-color: $primary-color;
    color: $white;
    font-family: 'Rubik';
    font-weight: 400;
    height: 80px;
    margin: 0;
    @include border-radius(0);
    .navbar-brand {
      height: auto;
      line-height: inherit;
      padding: 28px 15px 0;
      &.logo {
        padding: 11px;
        margin-left: 0;
      }
      &.menu-icon {
        padding-top: 20px;
        cursor: pointer;
        .icon {
          font-size: 25px;
        }
      }
    }
    .list-inline {
      margin-right: 50px;
      .navbar-brand {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
      }
      [class^="icon-"]:before,
      [class*=" icon-"]:before {
        padding-right: 5px;
      }
      .pipe {
        border-color: transparentize($black, 0.8);
      }
      .user-avatar {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        margin-top: -10px;
      }
    }
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
      vertical-align: middle;
    }
    a {
      color: $white;
    }
  }
}