.no-margin {
    margin: 0 !important;
}

.mar-top-20 {
    margin-top: 20px;
}

.mar-top-30 {
  margin-top: 30px;
}

.mar-top-50 {
  margin-top: 50px;
}

.mar-bottom-50 {
  margin-bottom: 50px;
}

.no-padding {
    padding: 0 !important;
}

.rlt {
    position: relative;
}

.left {
  float: left;
}

.bold {
  font-weight: bold;
}

// Remove the Gutter Padding from Columns
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

// Accessibility and Screen Readers
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.vertical-container {
    display: table !important;
    height: 100%;
    .vertical-middle {
        display: table-cell;
        vertical-align: middle;
        top: 0;
        transform: none;
    }
}

.vertical-middle {
    position: relative;
    top: 50%;
    @include translate(0, -50%);
}

.cursor-pointer {
    cursor: pointer;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none !important;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.pipe {
    border-right: 1px solid $gray;
}

/* Row with equal height columns */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.muted {
    color: $text-color-blend;
}

@mixin heading-styles($font-size, $color) {
    font-family: 'Rubik', sans-serif;
    font-size: $font-size;
    font-weight: 700;
    color: $color;
}

@media (max-width: $screen-md) {
  /* Change text alignment on extra small and small */
  .sm-text-center {
    text-align: center !important;
  }
}

.bg-blue-gradient, .bg-orange-gradient {
  border: none;
  overflow: hidden;
  padding: 40px 0px;
  h2, h3, h4 {
    color: $white;
  }
  form {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  p.text-muted {
    color: $white;
    font-size: 22px;
    opacity: 0.7;
    margin-bottom: 70px;
  }
}
.bg-blue-gradient {
  background: linear-gradient(to right, $primary-color 0%, $primary-color-blend-light 100%);
}
.bg-orange-gradient {
  padding: 196px 0px;
  background: linear-gradient(to right, $orange 0%, $orange-light 80%, $orange-lighter 100%);
  h4 {
    margin: 0px;
    span {
      opacity: 0.2;
      position: absolute;
      &.bottom-left {
        font-size: 520px;
        top: 20%;
        left: -115px;
      }
      &.top-right {
        font-size: 620px;
        top: -22%;
        right: -200px;
      }
    }
  }
}
