.lateral-menu {
  height: 100%;
  width: 65%;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -70%;
  background-color: $white;
  overflow-x: hidden;
  @include transition(right, 0.4s, ease);
  @include box-shadow(0px, 2px, 114px, transparentize($black, 0.88));
  .close-button {
    cursor: pointer;
    display: inline-block;
    padding: 18px 20px;
    background-color: $soft-gray;
    .icon {
      font-size: 22px;
      color: $text-color;
      display: flex;
    }
  }
  .container {
    padding: 0 30px 30px;
    width: 100%;
  }
  .lateral-menu-title {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: $text-color;
  }
  hr {
    margin: 15px 0 0 0;
    border-color: $soft-gray;
  }
  p {
    color: $text-color-blend;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
  }
  .form {
    margin-bottom: 40px;
    input.form-control {
      background: $light-gray;
      font-size: 15px;
      height: 50px;
      font-style: italic;
      padding: 5px 20px;
      @include border-radius(25px);
    }
  }
  table {
    thead {
      th {
        color: $text-color;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 17px;
        padding-bottom: 10px;
      }
    }
    tbody {
      td {
        color: $text-color-blend;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 15px;
        &.with-icon {
          text-align: center;
        }
        .icon {
          vertical-align: middle;
          &.icon-close {
            color: $error-color;
            font-size: 18px;
          }
          &.icon-share {
            color: $primary-color;
            font-size: 19px;
          }
        }
        .documents-title {
          color: $primary-color;
          font-size: 17px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}