.modal {
  background: rgba(255, 255, 255, 0.5);
}
.modal-dialog {
  margin-top: 120px;
}
// Disabling backdrop because of position fixed and z-index
// https://stackoverflow.com/questions/5218927/z-index-not-working-with-fixed-positioning
.modal-backdrop {
  display: none
}
.modal-content {
    padding-left: 30px;
    padding-right: 30px;
    text-align: start;
    .modal-header {
        padding: 30px 0px 5px 0px;
        position: relative;
        button {
            position: absolute;
    		top: 2px;
    		right: -30px;
    		background-color: $soft-gray;
    		width: 20px;
    		height: 20px;
    		font-size: 15px;
        }
        .close {
        	opacity: 1;
        }
        h4 {
            font-weight: bold;
        }
    }
    .modal-body {
        padding: 20px 0px 0px 0px;
    }
    .modal-footer {
        padding: 15px 0px;
        text-align: left;
        border-top: 0;
        a {
        	cursor: pointer;
        }
    }
    .text-box {
      padding: 15px;
      background-color: $light-gray;
      border-bottom: 1px solid $soft-gray;
      border-right: 1px solid $soft-gray;
      &.share-link {
        color: $primary-color;
        overflow: hidden;
      }
      &.name {
        margin-bottom: 30px;
      }
    }
    .switch {
      padding-top: 5px;
    }
    .participants-container {
      padding: 0px 0px 20px 0px;
      .participant {
        height: 50px;
        padding: 15px 0px 45px 0px;
        border-bottom: 1px solid $soft-gray;
        .name {
          padding-top: 12px;
        }
        .not-avatar {
          margin-left: 0;
        }
        .remove-participant-label {
          margin-top: 12px;
          text-align: center;
        }
        .remove-participant-icon {
          color: $red;
          font-size: 2em;
        }
      }
      p {
        margin: 0 0 5px;
      }
      input {
        width: 100%;
        height: 50px;
        background-color: $light-gray;
        border: 1px solid $soft-gray;
      }
    }
    .btn-icon {
      padding-top: 10px;
      .icon {
        font-size: 2em;
        float: left;
        bottom: 6px;
        position: relative;
      }

    }
}
