.user-icon {
  .img-circle {
    height: 40px;
    width: 40px;
  }
  .not-avatar {
    width: 40px;
    height: 40px;
    padding-top: 9px;
    margin-left: -10px;
    color: $text-color-blend;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    z-index: 5;
    position: relative;
    background-color: lighten($primary-color, 55%);
    @include border-radius(20px);
    &:hover {
      z-index: 15;
    }
  }
  .user-avatar {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}
