<div class="row landing-panel container-fluid">
    <jp-site-header [user]="user"></jp-site-header>


  <div class="row claim">
    <div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
      <div class="claim-text">
        <h1 class="hidden-xs">
          <span class="dark-bg">Online open source text editor</span>
        </h1>
        <h3 class="hidden-xs">
          <span class="dark-bg">Share the link and coauthor simultaneously</span>
        </h3>
        <h2 class=" visible-xs">
          <span class="dark-bg">Online open source text editor</span>
        </h2>
      </div>
    </div>
  </div>

  <div class="row claim-input">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 text-center">
      <form [formGroup]="landingForm"
            (ngSubmit)="openDocument(landingForm.get('documentId').value)"
            class="panel panel-default claim-input">
        <div class="panel-body">
            <div class="form-group label-placeholder is-empty">
                <div class="input-group">
                  <label for="documentIdInput" class="control-label label-floating">Document name</label>
                  <input formControlName="documentId" id="documentIdInput" class="form-control" type="text">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-raised btn-danger hidden-xs"
                            [ngClass]="{'disabled': landingForm.status == 'INVALID'}">Open/Create</button>
                  </span>

                </div>
            </div>
            <button type="submit" class="btn btn-raised btn-danger visible-xs-inline-block center-block"
                    [ngClass]="{'disabled': landingForm.invalid}">Open/Create</button>
        </div>
      </form>
    </div>
  </div>

    <div class="row claim hidden-xs">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8 text-center">
            <div class="claim-text">
                <h4>
                    <span class="dark-bg">It is not necessary to be logged in. Save the link to retrieve the document</span>
                </h4>
            </div>
        </div>
    </div>


  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 footer">
      <p>Copyright Pablo Ojanguren, Alejandro Garrido, David Llop and University Complutense of Madrid.</p>
      <p>Source code licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">AGPL v3</a>.
          Documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0.</a></p>

        <button class="btn btn-link">
            <a href="https://github.com/P2Pvalue/jetpad" target="_blank">
                GitHub
            </a>
        </button>
        <button class="btn btn-link">
            <a href="https://twitter.com/getjetpad" target="_blank">
                Twitter
            </a>
        </button>
    </div>
  </div>

</div>
