<div class="row landing-panel">

  <div class="row top-bar">

    <div class="col-xs-offset-1 col-xs-2 col-md-offset-2 col-md-2 logo">
      <img alt="Jetpad" height=40 src="assets/img/jetpad-logo.png">
    </div>

    <div class="col-xs-8 col-md-6 menu">
      <div class="pull-right">
        <button class="btn btn-link">About</button>
        <button class="btn btn-link">Login</button>
      </div>
    </div>

    <div class="col-xs-1 col-md-2 menu">

    </div>


  </div>


<div class="row claim">
    <div class="col-xs-offset-3 col-xs-6 col-md-offset-3 col-md-6 text-center">

      <h1>Create text documents in one click</h1>
      <h3>
        <span>Share the link and coauthor simultaneously</span>
      </h3>

      <div class="panel panel-default doc-input">
        <form class="panel-body" (ngSubmit)="openDocument(documentId);" #documentIdForm="ngForm">
          <div class="form-group label-placeholder is-empty">
              <div class="input-group">
                <label for="documentIdInput" class="control-label">Document name</label>
                <input [(ngModel)]="documentId" name="documentId" required #documentIdInput  id="documentIdInput" class="form-control" type="text">
                <span class="input-group-btn">
                  <button class="btn btn-raised btn-danger hidden-xs" [disabled]="!documentIdForm.form.valid">Open/Create</button>
                </span>
              </div>
          </div>

        </form>
      </div>
      <button class="btn btn-raised btn-danger visible-xs-inline-block center-block" [disabled]="!documentIdForm.form.valid">Open/Create</button>
      <!--
      <form class="panel-body" (ngSubmit)="openDocument(documentId);" #documentIdForm="ngForm">
        <div class="col-md-8 col-md-offset-2">
          <div class="form-group">
            <input [(ngModel)]="documentId" placeholder="Document name" name="documentId" #documentIdInput required class="form-control" id="documentIdInput">
          </div>
          <button class="btn btn-primary btn-lg no-margin" [disabled]="!documentIdForm.form.valid">Open or Create</button>
        </div>
      </form>
      <p class="text-muted">No login required - Copy the URL to share</p>
    -->

    </div>

  </div>
</div>
