<div class="row">

  <div class="col-md-12 text-center" style="padding-bottom: 115px;">
    <h2>Create documents and</h2>
    <h2>edit simultaneously</h2>
    <form class="panel-body" (ngSubmit)="openDocument(documentId);" #documentIdForm="ngForm">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <input [(ngModel)]="documentId" placeholder="Document name" name="documentId" #documentIdInput required class="form-control" id="documentIdInput">
        </div>
        <button class="btn btn-primary btn-lg no-margin" [disabled]="!documentIdForm.form.valid">Open or Create</button>
      </div>
    </form>
    <p class="text-muted">No login required - Copy the URL to share</p>
  </div>

</div>
