<div id="canvas-container" class="jp-editor-canvas">

</div>

<!--<section class="editor-section">
  <div id="editor-container">
    <editor-assessment [hidden]="hideAssessment" [posY]="assesmentTop" (onVoted)="onVoted($event)"></editor-assessment>
  </div>
</section>-->

<!--  <div class="panel panel-default">
    <div class="panel-heading">
      <div id="canvas-toolbar2" class="btn-toolbar">
        <div *ngFor="let formatGroup of formats" class="btn-group">
          <button *ngFor="let format of formatGroup" type="button"
          (click)="annotate(format)"
          class="btn btn-{{buttons[format] ? 'success' : 'default'}}">
            <span class="material-icons">format_{{format}}</span>
          </button>
        </div>
        <div class="btn-group">
          <button type="button" (click)="addImage()" class="btn btn-default">
            <span class="material-icons">image</span>
          </button>
        </div>
      </div>
    </div>
    <div class="canvas-box-container">
      <div id="canvas-container" class="panel-body">
    </div>

    </div>
  </div>-->
