.canvas-cover {
  font-size: $canvas-cover-font-size;
  font-style: $canvas-cover-font-style;
  color: $canvas-cover-color;
}

.jp-editor-canvas{
  display: flex;
  background-color: $white;
  border: 1px solid $soft-gray;
  max-width: 210mm; // A4 width
  min-width: 320px; // small mobile device width
  min-height: 297mm; // A4 height

  @media screen and (min-width: 210mm)  {
    padding: 2cm 2cm;
  }

  @media screen and (max-width: 210mm)  {
    padding: 2em 2em;
  }

  //margin: 0 auto;
  margin: $canvas-margin-top auto 0 auto;
}

.jp-editor-canvas[mode="full"] {
  display: flex;
  background-color: $white;
  border: 0;

  max-width: 160mm; //
  min-width: 320px; // small mobile device width

  min-height: 297mm; // A4 height

  padding: 0 0;

  margin: $top-full-mode auto 0 auto;
}


.wave-editor-on {
  width: 100%;
}

// avoid content editable grey border in chrome
.wave-editor-on:active, .wave-editor-on:focus {
  border:none;
  outline:none;
}
