.jp-editor-canvas{
  display: flex;
  background-color: $white;
  border: 1px solid $soft-gray;
  /*min-height: 1200px;
  padding: 60px 80px;
  max-width: 1170px;
  min-width: 800px;
  width: 980px;*/
  min-height: 1200px;
  padding: 20px 40px;
  margin: 0 auto;
}

.wave-editor-on {
  width: 100%;
}

// avoid content editable grey border in chrome
.wave-editor-on:active, .wave-editor-on:focus {
  border:none;
  outline:none;
}
