<section class="editor-section">
  <div class="container-fluid">
    <div class="row no-gutter header-document">
      <div class="form">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon icon icon-edit icon-middle"></span>
            <input id="document-title" class="form-control" [(ngModel)]="title">
          </div>
        </div>
      </div>
      <div class="header-document-right">
        <div class="participants" *ngIf="privateDocument">
          <div class="contributors" *ngFor="let participant of participants | slice:0:3">
            <app-user-icon [user]="participant"></app-user-icon>
          </div>
          <div class="view-more" *ngIf="participants.length > 3">
            <i class="icon icon-dots icon-middle cursor-pointer" aria-hidden="true"></i>
            <div class="drowdown-box">
              <div class="contributors text-left" *ngFor="let participant of participants | slice:3">
                <app-user-icon [user]="participant"></app-user-icon>
              </div>
            </div>
          </div>
        </div>
        <share-settings class="clearfix"></share-settings>
      </div>
    </div>
    <div id="editor-toolbar" class="row row-eq-height toolbox form">
      <div class="col-sm toolbox-2">
        <div class="input-select simple-select">
          <select [(ngModel)]="currentTextType" class="form-control" (change)="changeTextType($event.target.value)">
            <option value="h1">Heading 1</option>
            <option value="h2">Heading 2</option>
            <option value="h3">Heading 3</option>
            <option value="h4">Heading 4</option>
            <option value="h5">Heading 5</option>
            <option value="none">Normal text</option>
          </select>
          <i class="icon icon-caret" aria-hidden="true"></i>
        </div>
      </div>
      <div class="divider"></div>
      <div class="col-sm toolbox-4">
        <div class="input-select simple-select">
          <select class="form-control">
            <option value="">Times New Roman</option>
            <option value="">Arial</option>
            <option value="">Tahoma</option>
            <option value="">Futura</option>
          </select>
          <i class="icon icon-caret" aria-hidden="true"></i>
        </div>
      </div>
      <div class="divider"></div>
      <div class="col-sm">
        <div class="input-select simple-select">
          <select [(ngModel)]="currentTextSize" class="form-control" (change)="changeTextSize($event.target.value)">
            <option *ngFor="let i of textSizes" value="{{i}}px">{{i}}</option>
          </select>
          <i class="icon icon-caret" aria-hidden="true"></i>
        </div>
      </div>
      <div class="divider"></div>
      <div class="col-sm toolbox-5">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"><i class="icon icon-text-bold icon-middle"></i></button>
          <button type="button" class="btn btn-default"><i class="icon icon-text-italic icon-middle"></i></button>
          <button type="button" class="btn btn-default"><i class="icon icon-text-underline-doble icon-middle"></i></button>
          <button type="button" class="btn btn-default"><i class="icon icon-text-underline icon-middle"></i></button>
          <button type="button" class="btn btn-default"><i class="icon icon-text-strike-through icon-middle"></i></button>
        </div>
      </div>
      <div class="divider"></div>
      <div class="col-sm toolbox-2">
        <!-- not supported by explorer and safari -->
        <div class="input-color">
          <input type="color" id="text-color" value="#0072BC">
        </div>
        <label for="text-color" class="cursor-pointer btn">
          <i class="icon icon-text-decoration icon-middle input-btn" style="color: #0072BC;"></i>
          <i class="icon icon-caret" aria-hidden="true"></i>
        </label>
        <!-- not supported by explorer and safari -->
        <div class="input-color">
          <input type="color" id="background-text-color" value="#F34E1E">
        </div>
        <label for="background-text-color" class="cursor-pointer btn">
          <i class="icon icon-text-color icon-middle input-btn" style="color: #F34E1E;"></i>
          <i class="icon icon-caret" aria-hidden="true"></i>
        </label>
      </div>
      <div class="divider"></div>
      <div class="col-sm toolbox-4">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"><i class="icon icon-text-left icon-middle"></i></button>
          <button type="button" class="btn btn-default"><i class="icon icon-text-center icon-middle"></i></button>
          <button type="button" class="btn btn-default"><i class="icon icon-text-right icon-middle"></i></button>
          <button type="button" class="btn btn-default"><i class="icon icon-text-justify icon-middle"></i></button>
        </div>
      </div>
      <div class="divider"></div>
      <div class="col-sm">
        <button type="button" class="btn">
          <i class="icon icon-link icon-middle"></i>
        </button>
      </div>
      <div class="divider"></div>
      <div class="col-sm">
        <button type="button" class="btn">
          <i class="icon icon-text-sort icon-middle"></i>
          <i class="icon icon-caret" aria-hidden="true"></i>
        </button>
      </div>
      <div class="divider"></div>
      <div class="col-sm toolbox-2">
        <button type="button" class="btn btn-default">
          <i class="icon icon-text-dots icon-middle"></i>
          <i class="icon icon-caret" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default">
          <i class="icon icon-text-number icon-middle"></i>
          <i class="icon icon-caret" aria-hidden="true"></i>
        </button>
      </div>
      <div class="divider"></div>
      <div class="col-sm toolbox-2">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="icon icon-square-divider icon-middle"></i>
            <i class="icon icon-caret" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
            <i class="icon icon-square icon-middle"></i>
          </div>
        </div>
        <button type="button" class="btn btn-default" (click)="addImage()">
          <i class="icon icon-image icon-middle"></i>
          <i class="icon icon-caret" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="editor-box-container">

  <div class="editor-box-left">

    <button class="btn btn-with-icon btn-editor yellow">
      <i class="icon icon-text-indent icon-middle"></i>
      Outline
    </button>

    <div class="panel">
      <div class="panel-body">
        <ul>
          <li><a href>Lorem ipsum dolor sit amet, the consectetur.</a></li>
          <li>
            <a href>Lorem ipsum dolor sit amet, the consectetur.</a>
            <ul>
              <li><a href>Lorem ipsum dolor sit amet, the consectetur.</a></li>
              <li><a href>Lorem ipsum dolor sit amet, the consectetur.</a></li>

            </ul>
          </li>
          <li><a href>Lorem ipsum dolor sit amet, the consectetur.</a></li>
          <li>
            <a href>Lorem ipsum dolor sit amet, the consectetur.</a>
            <ul>
              <li><a href>Lorem ipsum dolor sit amet, the consectetur.</a></li>
              <li><a href>Lorem ipsum dolor sit amet, the consectetur.</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="editor-box-right">

    <button class="btn btn-with-icon btn-editor blue">
      <i class="icon icon-comment icon-middle"></i>
      Comments (5)
    </button>
    <button class="btn btn-with-icon btn-editor yellow">
      <i class="icon icon-label icon-middle"></i>
      Bookmarks (5)
    </button>

    <div class="panel">
      <div class="panel-body">
        <ul>
          <li><a href>Lorem ipsum dolor sit amet, the consectetur.</a></li>
          <li><a href>Lorem ipsum dolor sit amet, the consectetur.</a></li>
          <li><a href>Lorem ipsum dolor sit amet, the consectetur.</a></li>
          <li><a href>Lorem ipsum dolor sit amet, the consectetur.</a></li>
        </ul>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body toggle-items">
        <i class="icon icon-close icon-middle"></i>
        <div class="toggle-box">
          <div class="collapse-anchor" data-toggle="collapse" href="#collapseTab1" aria-expanded="false" aria-controls="collapseTab1">
            <div class="row">
              <div class="col-sm-3">
                <img class="img-responsive img-circle user-avatar" src="./assets/img/anonymous.png">
              </div>
              <div class="col-sm-9 no-padding">
                Sonia_Rod
                <span>19:05h Today</span>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseTab1">
            <div class="row">
              <div class="col-sm-12">
                <p><a class="cursor-pointer">@miriam</a> Donec vel sem maximus mauris convallis pulvinar a vel nunc. The lorem ipsum tempor lorem ipsum suliis ipsum.</p>
              </div>
              <div class="col-sm-12 form">
                <div class="form-group">
                  <input type="text" class="form-control">
                </div>
                <div class="form-group text-right">
                  <button type="button" class="btn btn-link">Finish</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="toggle-box">
          <div class="collapse-anchor" data-toggle="collapse" href="#collapseTab2" aria-expanded="false" aria-controls="collapseTab2">
            <div class="row">
              <div class="col-sm-3">
                <img class="img-responsive img-circle user-avatar" src="./assets/img/anonymous.png">
              </div>
              <div class="col-sm-9 no-padding">
                Alfon_sito
                <span>19:05h Today</span>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseTab2">
            <div class="row">
              <div class="col-sm-12">
                <p><a class="cursor-pointer">@miriam</a> Donec vel sem maximus mauris convallis pulvinar a vel nunc. The lorem ipsum tempor lorem ipsum suliis ipsum.</p>
              </div>
              <div class="col-sm-12 form">
                <div class="form-group">
                  <input type="text" class="form-control">
                </div>
                <div class="form-group text-right">
                  <button type="button" class="btn btn-link">Finish</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="toggle-box">
          <div class="collapse-anchor" data-toggle="collapse" href="#collapseTab3" aria-expanded="true" aria-controls="collapseTab3">
            <div class="row">
              <div class="col-sm-3">
                <img class="img-responsive img-circle user-avatar" src="./assets/img/anonymous.png">
              </div>
              <div class="col-sm-9 no-padding">
                María Mígel
                <span>19:05h Today</span>
              </div>
            </div>
          </div>
          <div class="collapse in" id="collapseTab3">
            <div class="row">
              <div class="col-sm-12">
                <p><a class="cursor-pointer">@miriam</a> Donec vel sem maximus mauris convallis pulvinar a vel nunc. The lorem ipsum tempor lorem ipsum suliis ipsum.</p>
              </div>
              <div class="col-sm-12 form">
                <div class="form-group">
                  <input type="text" class="form-control">
                </div>
                <div class="form-group text-right">
                  <button type="button" class="btn btn-link">Finish</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="toggle-box">
          <div class="collapse-anchor" data-toggle="collapse" href="#collapseTab4" aria-expanded="true" aria-controls="collapseTab4">
            <div class="row">
              <div class="col-sm-3">
                <img class="img-responsive img-circle user-avatar" src="./assets/img/anonymous.png">
              </div>
              <div class="col-sm-9 no-padding">
                Lucía.París
                <span>19:05h Today</span>
              </div>
            </div>
          </div>
          <div class="collapse in" id="collapseTab4">
            <div class="row">
              <div class="col-sm-12">
                <p><a class="cursor-pointer">@miriam</a> Donec vel sem maximus mauris convallis pulvinar a vel nunc. The lorem ipsum tempor lorem ipsum suliis ipsum.</p>
              </div>
              <div class="col-sm-12 form">
                <div class="form-group">
                  <input type="text" class="form-control">
                </div>
                <div class="form-group text-right">
                  <button type="button" class="btn btn-link">Finish</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div id="editor-container"></div>
</section>

<!--  <div class="panel panel-default">
    <div class="panel-heading">
      <div id="editor-toolbar2" class="btn-toolbar">
        <div *ngFor="let formatGroup of formats" class="btn-group">
          <button *ngFor="let format of formatGroup" type="button"
          (click)="annotate(format)"
          class="btn btn-{{buttons[format] ? 'success' : 'default'}}">
            <span class="material-icons">format_{{format}}</span>
          </button>
        </div>
        <div class="btn-group">
          <button type="button" (click)="addImage()" class="btn btn-default">
            <span class="material-icons">image</span>
          </button>
        </div>
      </div>
    </div>
    <div class="editor-box-container">
      <div id="editor-container" class="panel-body">
    </div>

    </div>
  </div>-->
