<div class="editor-toolbar">
  <!-- Paragraph type -->
  <div class="input-select simple-select">
    <select class="form-control" [ngModel]="styles.header ? styles.header.value : defaultHeading" (ngModelChange)="setStyle('header', $event)">
      <option value="">Normal text</option>
      <option value="h1">Heading 1</option>
      <option value="h2">Heading 2</option>
      <option value="h3">Heading 3</option>
      <option value="h4">Heading 4</option>
      <option value="h5">Heading 5</option>
    </select>
  </div>

  <div class="divider"></div>

  <!--Font Family -->
  <div class="input-select simple-select">
    <select
        class="form-control"
        (focus)="loadFonts = true"
        [ngModel]="styles.fontFamily ? styles.fontFamily.value : defaultFontFamily"
        (ngModelChange)="setStyle('fontFamily', $event)">

      <option *ngFor="let fontFamily of fontFamilies" [style.fontFamily]="loadFonts ? fontFamily : 'inherit'" [value]="fontFamily">{{fontFamily}}</option>
    </select>
  </div>

  <div class="divider"></div>

  <!-- Font size -->
  <div class="input-select simple-select">
    <select class="form-control">
      <option *ngFor="let i of textSizes" value="{{i}}px">{{i}}</option>
    </select>
  </div>

  <div class="divider"></div>

  <!-- Font style -->
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" (click)="annotate('bold')" [class.active]="buttons['bold']"><i class="icon icon-text-bold icon-middle"></i></button>
    <button type="button" class="btn btn-default" (click)="annotate('italic')" [class.active]="buttons['italic']"><i class="icon icon-text-italic icon-middle"></i></button>
    <button type="button" class="btn btn-default" (click)="annotate('underline')" [class.active]="buttons['underline']"><i class="icon icon-text-underline icon-middle"></i></button>
    <button type="button" class="btn btn-default" (click)="annotate('strike-through')" [class.active]="buttons['strike-through']"><i class="icon icon-text-strike-through icon-middle"></i></button>
  </div>

  <div class="divider"></div>

  <!-- text  and background color -->
  <div class="input-color-wrapper">
    <div class="input-color">
      <input type="color" id="text-color">
    </div>
    <label for="text-color" class="cursor-pointer btn">
      <i class="icon icon-text-decoration icon-middle input-btn" [style.color]="currentColor"></i>
      <i class="icon icon-caret" aria-hidden="true"></i>
    </label>
    <div class="input-color">
      <input type="color" id="background-text-color">
    </div>
    <label for="background-text-color" class="cursor-pointer btn">
      <i class="icon icon-text-color icon-middle input-btn" [style.color]="currentBgColor"></i>
      <i class="icon icon-caret" aria-hidden="true"></i>
    </label>
  </div>


  <div class="divider"></div>

  <!-- text position -->
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" (click)="annotate('text-left')" [class.active]="buttons['text-left']"><i class="icon icon-text-left icon-middle"></i></button>
    <button type="button" class="btn btn-default" (click)="annotate('text-center')" [class.active]="buttons['text-center']"><i class="icon icon-text-center icon-middle"></i></button>
    <button type="button" class="btn btn-default" (click)="annotate('text-right')" [class.active]="buttons['text-right']"><i class="icon icon-text-right icon-middle"></i></button>
    <button type="button" class="btn btn-default" (click)="annotate('text-justify')" [class.active]="buttons['text-justify']"><i class="icon icon-text-justify icon-middle"></i></button>
  </div>

  <div class="divider"></div>

  <!-- Add link -->
  <div>
    <button type="button" class="btn" (click)="addLink()">
      <i class="icon icon-link icon-middle"></i>
    </button>
  </div>

  <div class="divider"></div>

  <!-- lists -->
  <div>
    <button type="button" class="btn btn-default" (click)="annotate('text-dots')" [class.active]="buttons['text-dots']">
      <i class="icon icon-text-dots icon-middle"></i>
    </button>
    <button type="button" class="btn btn-default" (click)="annotate('text-number')" [class.active]="buttons['text-number']">
      <i class="icon icon-text-number icon-middle"></i>
    </button>
  </div>


  <div class="divider"></div>

  <!-- Add images -->
  <div>
    <button type="button" class="btn btn-default">
      <i class="icon icon-image icon-middle"></i>
      <i class="icon icon-caret" aria-hidden="true"></i>
    </button>
  </div>
</div>
