.editor-toolbar{
  width: 100%;
  //margin: 20px auto;
  padding: 0 5px;
  position: fixed;
  margin-top: 60px;
  z-index: 400;
  //overflow-x: auto;
  //overflow-y: hidden;
  div.divider {
    width: 1px;
    height: 35px;
    margin: 0 5px;
    background-color: $soft-gray;
  }
  div{
    align-self: center;
    margin: auto;
    max-width: 150px;
    float: left;
  }
  div.input-select{
    .icon-caret {
      color: $caret-gray;
      display: inline-block;
      width: 10px;
      &:before {
        margin-left: -11px;
      }
    }
  }
  .btn {
    padding: 0;
    border: none;
    background: none;
    [class^="icon-"]:before, [class*=" icon-"]:before {
      font-size: 30px;
      vertical-align: middle;
      margin-top: 8px;
      display: inline-block;
    }
  }
  .input-color-wrapper{
    .input-color {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      & + .input-btn {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 400;
        color: $secondary-color;
        display: inline-block;
        cursor: pointer;
        text-decoration: underline;
        .icon {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          margin-top: 5px;
          &:before {
            font-size: 35px;
          }
        }
      }
      &:focus + .input-btn, & + .input-btn:hover {
        color: $secondary-color-blend;
      }
    }
    .simple-select{
      height: 30px;
    }
  }
}
