<div class="editor-toolbar">

<div class="center-block dropdown">

  <!-- Clear format -->
  <div class="btn-group">
    <button type="button" class="btn btn-default"
      (click)="clearStyle()">
      <i class="material-icons">format_clear</i>
    </button>
  </div>

  <div class="divider"></div>

  <!-- Paragraph type -->
  <div class="input-select simple-select">
    <select class="form-control"
      [ngModel]="styles.header ? styles.header.value : defaultHeading"
      (ngModelChange)="setStyle('header', $event)" >
      <option value="">Normal text</option>
      <option value="h1">Heading 1</option>
      <option value="h2">Heading 2</option>
      <option value="h3">Heading 3</option>
      <option value="h4">Heading 4</option>
      <option value="h5">Heading 5</option>
    </select>
  </div>

  <div class="divider"></div>

  <!--Font Family -->
  <div class="input-select simple-select visible-xs visible-sm visible-md visible-lg">
    <select
        class="form-control"
        (focus)="loadFonts = true"
        [ngModel]="styles.fontFamily ? styles.fontFamily.value : defaultFontFamily.css"
        (ngModelChange)="setStyle('fontFamily', $event)">

      <option *ngFor="let fontFamily of fontFamilies" [style.fontFamily]="loadFonts ? fontFamily.css : 'inherit'" [value]="fontFamily.css">{{fontFamily.name}}</option>
    </select>
  </div>

  <div class="divider visible-xs visible-sm visible-md visible-lg"></div>

  <!-- Font size -->
  <div class="input-select simple-select">
    <select
      class="form-control"
      [ngModel]="styles.fontSize ? styles.fontSize.value : defaultFontSize"
      (ngModelChange)="setStyle('fontSize', $event)">

      <option *ngFor="let i of fontSizes" value="{{i}}px">{{i}}</option>
    </select>
  </div>

  <div class="divider"></div>

  <!-- Font style -->
  <div class="btn-group" role="group">

    <button type="button" class="btn btn-default"
      (click)="toggleStyle(STYLE_FONT_WEIGHT, fontWeightBold)"
      [class.active]="checkStyle(STYLE_FONT_WEIGHT, fontWeightBold)">
      <i class="material-icons">format_bold</i>
    </button>

    <button type="button" class="btn btn-default"
      (click)="toggleStyle(STYLE_FONT_STYLE, fontStyleItalic)"
      [class.active]="checkStyle(STYLE_FONT_STYLE, fontStyleItalic)">
      <i class="material-icons">format_italic</i>
    </button>

    <button type="button" class="btn btn-default"
      (click)="toggleStyleMultiple(STYLE_TEXT_DECORATION, textDecorationUnderline)"
      [class.active]="checkStyle(STYLE_TEXT_DECORATION, textDecorationUnderline)">
      <i class="material-icons">format_underlined</i>
    </button>

    <button type="button" class="btn btn-default"
      (click)="toggleStyleMultiple(STYLE_TEXT_DECORATION, textDecorationStrike)"
      [class.active]="checkStyle(STYLE_TEXT_DECORATION, textDecorationStrike)">
      <i class="material-icons">strikethrough_s</i>
    </button>

  </div>

  <div class="divider visible-sm visible-md visible-lg"></div>

  <!-- text  and background color -->
  <div class="input-color-wrapper visible-sm visible-md visible-lg">
    <div class="input-color">
      <input type="color" id="text-color"
             [ngModel]="styles.color ? styles.color.value : defaultColor"
             (ngModelChange)="setStyle(STYLE_COLOR, $event)">
    </div>
    <label for="text-color" class="cursor-pointer btn">
      <i class="material-icons" [style.color]="currentColor">format_color_text</i>
    </label>
    <div class="input-color">
      <input type="color" id="background-text-color" [(ngModel)]="currentBgColor" (ngModelChange)="setStyle(STYLE_BG_COLOR, $event)">
    </div>
    <label for="background-text-color" class="cursor-pointer btn">
      <i class="material-icons" [style.background-color]="currentBgColor">format_color_fill</i>
    </label>
  </div>


  <div class="divider visible-sm visible-md visible-lg"></div>


  <button class="btn dropdown-toggle visible-sm visible-xs" type="button"
          id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <i class="material-icons">more_horiz</i>
  </button>

  <!-- text position -->
  <div class="btn-group visible-md visible-lg" role="group">
    <button type="button" class="btn btn-default"
      (click)="toggleStyleMultiple(STYLE_TEXT_ALIGN ,textAlignLeft)"
      [class.active]="checkStyle(STYLE_TEXT_ALIGN, textAlignLeft)">
      <i class="material-icons">format_align_left</i>
    </button>

    <button type="button" class="btn btn-default"
      (click)="toggleStyleMultiple(STYLE_TEXT_ALIGN ,textAlignCenter)"
      [class.active]="checkStyle(STYLE_TEXT_ALIGN, textAlignCenter)">
      <i class="material-icons">format_align_center</i>
    </button>

    <button type="button" class="btn btn-default"
      (click)="toggleStyleMultiple(STYLE_TEXT_ALIGN ,textAlignRight)"
      [class.active]="checkStyle(STYLE_TEXT_ALIGN, textAlignRight)">
      <i class="material-icons">format_align_right</i>
    </button>

    <button type="button" class="btn btn-default"
      (click)="toggleStyleMultiple(STYLE_TEXT_ALIGN ,textAlignJustify)"
      [class.active]="checkStyle(STYLE_TEXT_ALIGN, textAlignJustify)">
      <i class="material-icons">format_align_justify</i>
    </button>

  </div>

  <div class="divider visible-md visible-lg"></div>

  <!-- lists -->
  <div class="btn-group visible-md visible-lg" role="group">
    <button type="button" class="btn btn-default"
      (click)="toggleStyleMultiple(STYLE_LIST, listUnordered)"
      [class.active]="checkStyle(STYLE_LIST, listUnordered)">
      <i class="material-icons">format_list_bulleted</i>
    </button>

    <button type="button" class="btn btn-default"
      (click)="toggleStyleMultiple(STYLE_LIST, listDecimal)"
      [class.active]="checkStyle(STYLE_LIST, listDecimal)">
      <i class="material-icons">format_list_numbered</i>
    </button>
  </div>

  <div class="divider visible-md visible-lg"></div>

  <!-- indent -->
  <div class="btn-group visible-md visible-lg">

    <button type="button" class="btn btn-default"
      (click)="setStyle(STYLE_INDENT, 'outdent')">
      <i class="material-icons">format_indent_decrease</i>
    </button>

    <button type="button" class="btn btn-default"
      (click)="setStyle(STYLE_INDENT, 'indent')">
      <i class="material-icons">format_indent_increase</i>
    </button>
  </div>

  <div class="divider visible-md visible-lg"></div>

  <!-- Add link -->
  <div class="btn-group visible-md visible-lg">
    <button type="button" class="btn" (click)="editLink()">
      <i class="material-icons">insert_link</i>
    </button>
  </div>


  <!--
      DROPDOWN
  -->
  <!--
  <div class="menu-editor-dropdown visible-xs visible-sm">
  -->

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">

      <div class="input-select simple-select visible-xs">
        <select
          class="form-control"
          [ngModel]="styles.fontSize ? styles.fontSize.value : defaultFontSize"
          (ngModelChange)="setStyle('fontSize', $event)">

          <option *ngFor="let i of fontSizes" value="{{i}}px">{{i}}</option>
        </select>
      </div>

      <div class="divider visible-xs"></div>

      <div class="btn-group visible-xs" role="group">

        <button type="button" class="btn btn-default"
                (click)="toggleStyle(STYLE_FONT_WEIGHT, fontWeightBold)"
                [class.active]="checkStyle(STYLE_FONT_WEIGHT, fontWeightBold)">
          <i class="material-icons">format_bold</i>
        </button>

        <button type="button" class="btn btn-default"
                (click)="toggleStyle(STYLE_FONT_STYLE, fontStyleItalic)"
                [class.active]="checkStyle(STYLE_FONT_STYLE, fontStyleItalic)">
          <i class="material-icons">format_italic</i>
        </button>

        <button type="button" class="btn btn-default"
                (click)="toggleStyleMultiple(STYLE_TEXT_DECORATION, textDecorationUnderline)"
                [class.active]="checkStyle(STYLE_TEXT_DECORATION, textDecorationUnderline)">
          <i class="material-icons">format_underlined</i>
        </button>

        <button type="button" class="btn btn-default"
                (click)="toggleStyleMultiple(STYLE_TEXT_DECORATION, textDecorationStrike)"
                [class.active]="checkStyle(STYLE_TEXT_DECORATION, textDecorationStrike)">
          <i class="material-icons">strikethrough_s</i>
        </button>

      </div>

      <div class="divider visible-xs"></div>

      <div class="input-color-wrapper visible-xs">
        <div class="input-color">
          <input type="color" [(ngModel)]="currentColor" (ngModelChange)="setStyle(STYLE_COLOR, $event)">
        </div>
        <label for="text-color" class="cursor-pointer btn">
          <i class="material-icons"  [style.color]="currentColor">format_color_text</i>
        </label>
        <div class="input-color">
          <input type="color" [(ngModel)]="currentBgColor" (ngModelChange)="setStyle(STYLE_BG_COLOR, $event)">
        </div>
        <label for="background-text-color" class="cursor-pointer btn">
          <i class="material-icons" [style.background-color]="currentBgColor">format_color_fill</i>
        </label>
      </div>

      <div class="divider visible-xs visible-sm"></div>

      <!-- text position -->
      <div class="btn-group visible-xs visible-sm" role="group">
        <button type="button" class="btn btn-default"
                (click)="toggleStyleMultiple(STYLE_TEXT_ALIGN ,textAlignLeft)"
                [class.active]="checkStyle(STYLE_TEXT_ALIGN, textAlignLeft)">
          <i class="material-icons">format_align_left</i>
        </button>

        <button type="button" class="btn btn-default"
                (click)="toggleStyleMultiple(STYLE_TEXT_ALIGN ,textAlignCenter)"
                [class.active]="checkStyle(STYLE_TEXT_ALIGN, textAlignCenter)">
          <i class="material-icons">format_align_center</i>
        </button>

        <button type="button" class="btn btn-default"
                (click)="toggleStyleMultiple(STYLE_TEXT_ALIGN ,textAlignRight)"
                [class.active]="checkStyle(STYLE_TEXT_ALIGN, textAlignRight)">
          <i class="material-icons">format_align_right</i>
        </button>

        <button type="button" class="btn btn-default"
                (click)="toggleStyleMultiple(STYLE_TEXT_ALIGN ,textAlignJustify)"
                [class.active]="checkStyle(STYLE_TEXT_ALIGN, textAlignJustify)">
          <i class="material-icons">format_align_justify</i>
        </button>

      </div>

      <div class="divider visible-xs visible-sm"></div>

      <!-- lists -->
      <div class="btn-group visible-xs visible-sm" role="group">
        <button type="button" class="btn btn-default"
                (click)="toggleStyleMultiple(STYLE_LIST, listUnordered)"
                [class.active]="checkStyle(STYLE_LIST, listUnordered)">
          <i class="material-icons">format_list_bulleted</i>
        </button>

        <button type="button" class="btn btn-default"
                (click)="toggleStyleMultiple(STYLE_LIST, listDecimal)"
                [class.active]="checkStyle(STYLE_LIST, listDecimal)">
          <i class="material-icons">format_list_numbered</i>
        </button>
      </div>

      <div class="divider visible-xs visible-sm"></div>

      <!-- indent -->
      <div class="btn-group visible-xs visible-sm">

        <button type="button" class="btn btn-default"
                (click)="setStyle(STYLE_INDENT, 'outdent')">
          <i class="material-icons">format_indent_decrease</i>
        </button>

        <button type="button" class="btn btn-default"
                (click)="setStyle(STYLE_INDENT, 'indent')">
          <i class="material-icons">format_indent_increase</i>
        </button>
      </div>

      <div class="divider visible-xs visible-sm visible-md"></div>

      <!-- Add link -->
      <div class="btn-group visible-xs visible-sm visible-md">
        <button type="button" class="btn" (click)="editLink()">
          <i class="material-icons">insert_link</i>
        </button>
      </div>

    </div> <!-- dropdown-menu -->



  </div><!-- center block -->

</div>
