.editor-toolbar{
  background-color: #ababab;
  width: 100%;
  /* padding: 0 5px; */
  position: fixed;
  margin-top: 36px;
  z-index: 100;
  padding-top: 20px;
  margin-left: -15px;
  padding-left: 10px;
  /*overflow-y: hidden;*/
  div.divider {
    width: 1px;
    height: 35px;
    margin: 0 5px;
    background-color: $soft-gray;
  }
  div{
    align-self: center;
    margin: auto;
    max-width: 150px;
    float: left;
  }
  div.input-select{
    height: 40px;
    .icon-caret {
      color: $caret-gray;
      display: inline-block;
      width: 10px;
      &:before {
        margin-left: -11px;
      }
    }
  }
  .btn-group{
    height: 40px;
    padding-top: 10px;
    .btn {
      padding: 0;
      border: none;
      background: none;
      /*[class^="icon-"]:before, [class*=" icon-"]:before {
        font-size: 30px;
        vertical-align: middle;
        margin-top: 8px;
        display: inline-block;
      }*/
      [class^="fa-"]:before, [class*=" fa-"]:before {
        margin: 5px;
      }
      [class^="glyphicon-"]:before, [class*=" glyphicon-"]:before {
        margin: 5px;
      }
    }
  }
  .input-color-wrapper{
    label{
      margin-top: 10px;
      margin-right: 5px;
      font-size: 14px;
      padding: 0;
    }
    .input-color {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      /*& + .input-btn {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 400;
        color: $secondary-color;
        display: inline-block;
        cursor: pointer;
        text-decoration: underline;
        .icon {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          margin-top: 5px;
          &:before {
            font-size: 35px;
          }
        }
      }*/
      &:focus + .input-btn, & + .input-btn:hover {
        color: $secondary-color-blend;
      }
    }
    .simple-select{
      height: 30px;
    }
  }
}

.menu-editor-dropdown{
  .dropdown-toggle {
    width: 35px;
    height: 35px;
    padding: 10px 0;
    border: none;
    background: none;
    margin: 0px 5px 5px 0;
  }
  .dropdown-menu-right{
    position: fixed;
    top: 100px;
    //width: 90%;
    margin: 0 auto;
    left: 0;
  }
  @media only screen and (min-width: 250px) {
    .dropdown-menu-right{
      max-width: 95%;
    }
  }
  @media only screen and (min-width: 600px) {
    .dropdown-menu-right{
      max-width: 265px;
    }
  }
  @media only screen and (min-width : 1200px) {
    .dropdown-menu-right{
      max-width: 55px;
    }
  }
}
