// swellrt editor class
.header-anchor {
  top:-130px;
}

// jetpad classes
.outline {

  a {
      color: rgb(189, 189, 189);
  }

  li {
    font-weight: 200; // TODO put as variable
    font-size: 14px; // TODO put as variable
    list-style-type: none;
    margin-bottom: 1em;

  }

}

.outline-h1 {
  margin-left: 0em
}

.outline-h2 {
  margin-left: 0.5em
}

.outline-h3 {
  margin-left: 1em
}

.outline-h4 {
  margin-left: 1.5em
}

.outline-h5 {
  margin-left: 2em
}

.outline-h6 {
  margin-left: 2.5em
}
