.user-icon {

  position: relative;
  width: 36px;
  height: 36px;

  .pipe {
    margin-top: 4px !important;
  }
  .img-circle {
    height: 36px;
    width: 36px;
  }

  .not-avatar {

    display:block;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 36px;
    height: 36px;

    padding-top: 6px;
    color: white;
    font-size: 18px;
    text-align: center;

    z-index: 5;
    @include border-radius(20px);
    &:hover {
      z-index: 15;
    }
  }

  .user-avatar {
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    width: 36px !important;
    height: 36px !important;
  }

  .online-mark {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 20;

    width: 12px;
    height: 12px;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    border-style: solid;
    border-width: 1px;

    color: rgba(255, 255, 255, 0.6);
  }
}

.user-info {
  margin-top: -5px;
  .name-icon {
    float: left;
    margin-top: 13.5px;
    padding-left: 10px;
  }
  .header-icon {
    float:left;
    span {
      top: 5px;
    }
    img {
      position: relative;
      top: 5px;
    }
  }
}
