.my-groups-panel {
  padding-top: 4em;
  .panel-heading {
    .title {
      display: flex;
      justify-content: space-between;
      button {
        align-self: center;
        margin: 0;
        padding: 0;
        i {
          font-size: 3em;
        }
      }
    }
    form {
      .input-group {
        //max-width: 1225px;
      }
    }
  }
}