.my-groups-panel {
  padding-top: 4em;
  .my-groups-panel-heading {
    .title {
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        button {
          align-self: center;
          margin: 5px 5px;
          padding: 0;
          i {
            font-size: 3em;
          }
        }
        .btn-group{
          .dropdown-menu {
            min-width: 300px;
            li {
              a {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    form {
      .input-group {
        //max-width: 1225px;
      }
    }
  }
}