<jp-editor-header [title]="doc?.get('title')"></jp-editor-header>
<div class="row">
  <div class="col-md-2 visible-md-block visible-lg-block">
    <jp-editor-outline></jp-editor-outline>
  </div>
  <div class="col-md-8">
    <div class="canvas-container">
      <jp-editor-toolbar [styles]="selectionStyles" (styleEvent)="editStyle($event)" (linkEvent)="showModalLink()" ></jp-editor-toolbar>
      <link-modal *ngIf="visibleLinkModal" [link]="inputLinkModal" [pos]="linkModalPos" (modalEvent)="editLink($event)"></link-modal>
      <jp-editor-canvas></jp-editor-canvas>
    </div>
  </div>
  <div class="col-md-2 visible-md-block visible-lg-block"></div>
</div>
