//
// Editor layout CSS
//


.editor {
  background-color: #f1f1f1;

  .floating-panel-left {

    position: fixed;
    top: 130px;
    height: calc(100vh - 130px);
    overflow-y: auto;

  }

  .floating-panel-right {

    position: fixed;
    top: 130px;
    right: 0px;
    height: calc(100vh - 130px);
    width: calc( (100vw - 210mm) / 2 ); 
    overflow-y: auto;

  }

  .panel-frame {

  }

}


.editor[mode="full"] {
  background-color: white;

  .floating-panel-left {
    position: fixed;
    top: 130px;
    height: calc(100vh - 130px);
    overflow-y: auto;
  }

  .floating-panel-right {
    position: fixed;
    top: 130px;
    right: 0px;
    height: calc(100vh - 130px);
    overflow-y: auto;

    border-left-style: solid;
    border-left-color: lightgray;
    border-left-width: 1px;
  }


}
