
$top-full-mode: "110px";
$top-classic-mode: "130px";


.editor {
  background-color: #f1f1f1;

  .floating-panel-left {

    position: fixed;
    top: 130px;
    height: calc(100vh - 130px);
    overflow-y: auto;

  }

  .floating-panel-right {

  }

}


.editor[mode="full"] {
  background-color: white;

  .floating-panel-left {
    position: fixed;
    top: 130px;
    height: calc(100vh - 130px);
    overflow-y: auto;
  }

  .floating-panel-right {
    position: fixed;
    top: 130px;
    right: 0px;
    height: calc(100vh - 130px);
    overflow-y: auto;
  }


}
