<div class="jetpad-modal" [@modalState]="currentState"
     #jetpadModalRoot
     tabindex="-1"
     role="dialog"
     (keydown.esc)="closeOnEscape ? close() : 0"
     [ngClass]="{ in: isOpened, fade: isOpened }"
     [ngStyle]="{ display: isOpened ? 'block' : 'none' }">

  <div [class]="'jetpad-modal-dialog ' + modalClass" (click)="preventClosing($event)">
    <div class="jetpad-modal-content" tabindex="0" *ngIf="isOpened">
      <div class="jetpad-modal-header">
        <button type="button" class="close" [attr.aria-label]="cancelButtonLabel || 'Close'" (click)="close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="jetpad-modal-title" *ngIf="title">{{ title }}</h4>
        <ng-content select="jetpad-modal-header"></ng-content>
      </div>
      <div class="jetpad-modal-body">
        <ng-content select="jetpad-modal-content"></ng-content>
      </div>
      <div class="jetpad-modal-footer">
        <ng-content select="jetpad-modal-footer"></ng-content>
        <!--<button *ngIf="cancelButtonLabel" type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">{{ cancelButtonLabel }}</button>
        <button *ngIf="submitButtonLabel" type="button" class="btn btn-primary" (click)="onSubmit.emit(undefined)">{{ submitButtonLabel }}</button>-->
      </div>
    </div>
  </div>
</div>
