.login-unauthorized{

}
.not-logged{
  .goToRegister{
    margin: 30px 10px;
  }
  form{
    .form-group{
      input {
        color: white;
      }
    }
  }
}

.login-panel{
  padding-top: 5em;
  background-image: url('~/assets/img/clouds-bg.jpg');
  height: 100vh;
}