 .list-group {

  &.participants {

    display: block;
    min-width: $panel-right-min-width;
    margin-left: 1em;
    margin-right: 1em;
    overflow-x: hidden;

    .title {

      font-size: $panel-title-font-size;

      border-bottom-color: $panel-separator-line-color;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding-bottom: 10px;
      margin-bottom: 1em;

      .material-icons {
        vertical-align: bottom;
        font-size: 20px;
      }

    }

    .title-in {
      margin-top: 2em;
      margin-bottom: 2em;
      font-size: $panel-title-in-font-size;

      .material-icons {
        font-size: 14px;
      }
    }

    .list-group-separator {
      margin-top: 0px;
    }

    .list-group-item {
      padding: 0px;
      margin-bottom: 1em;

      .row-picture {
        vertical-align: top;
      }

      .row-content {

        min-height: 0px;

        .least-content {
          font-size: 12px;

          .material-icons {
            font-size: 16px;
          }
        }

        .list-group-item-heading {
          font-size: 14px;
          font-weight: 400; // TODO extract to var
          line-height: normal;
        }

        .list-group-item-text {
          font-size: 12px;
        }

      }

    }

  }

}
