<!--
<div class="form-group label-floating">
  <label class="control-label" for="mynameInput">Write your name here!</label>
  <input class="form-control" id="mynameInput" type="text">
</div>
-->

<div class="list-group participants">

  <div *ngIf="!showInDialog" class="title">
    Contributors
  </div>



  <div class="togglebutton text-center">
      <label data-placement="top" title="Highlight the authors contribution by color">
        Highlight contributions
        <input (click)="switchDiffHighlight()" value="showHighlight" type="checkbox">
        <span class="toggle"></span>
      </label>
    </div>

  <div  *ngIf="!showEditNameForm && me.session.id" class="list-group-item">
    <div class="row-picture">
        <app-user-icon  [participantSession]="me"></app-user-icon>
    </div>
    <div class="row-content">
      <div class="least-content" (click)="displayEditNameForm(true)"><i class="material-icons">mode_edit</i></div>
      <p class="list-group-item-heading">{{me.profile.name}}</p>
      <p class="list-group-item-text">(You)</p>
    </div>
    <!--
    <div class="list-group-separator"></div>
    -->
  </div>

  <div *ngIf="showEditNameForm" class="form-group label-floating">
    <label class="control-label" for="nameInput">Edit your name</label>
    <input [(ngModel)]="name" class="form-control" id="nameInput" type="text">
    <div style="text-align: center">
      <a href="javascript:void(0)" class="btn btn-sm" (click)="displayEditNameForm(false)">Cancel</a>
      <a href="javascript:void(0)" class="btn btn-sm btn-primary" (click)="saveEditNameForm()">Save</a>
    </div>
  </div>

  <!--
  <div *ngIf="participantsRecent?.length == 0" class="list-group-item">
      <p style="font-style:italic; font-size:12px; text-align:center;">No contributors online now</p>
  </div>
 -->

  <div class="list-group-item" *ngFor="let participant of participantsRecent">
    <div class="row-picture">
        <app-user-icon  [participantSession]="participant"></app-user-icon>
    </div>
    <div class="row-content">
      <!--
      <div class="least-content"></div>
    -->
      <p class="list-group-item-heading">{{participant.profile.name}}</p>
      <p class="list-group-item-text">{{participant.session.lastActivityTime | moment}}</p>
      <!--
      <p class="list-group-item-text">{{participant.profile.name}}@jetpad.net</p>
      -->
    </div>
    <!--
    <div class="list-group-separator"></div>
    -->
  </div>

  <div class="title-in" (click)="toggleParticipantPastList()">
    View all
    <i *ngIf="!showParticipantsPastList" class="material-icons">arrow_drop_down</i>
    <i *ngIf="showParticipantsPastList" class="material-icons">arrow_drop_up</i>
  </div>

  <div *ngIf="showParticipantsPastList">
    <div class="list-group-item" *ngFor="let participant of participantsPast">
      <div class="row-picture">
          <app-user-icon  [participantSession]="participant"></app-user-icon>
      </div>
      <div class="row-content">
        <!--
        <div class="least-content"></div>
        -->
        <p class="list-group-item-heading">{{participant.profile.name}}</p>
        <p class="list-group-item-text">{{participant.session.lastActivityTime | moment}}</p>
        <!--
        <p class="list-group-item-text">{{participant.profile.name}}@jetpad.net</p>
        -->
      </div>
      <!--
      <div class="list-group-separator"></div>
      -->
    </div>
  </div>

</div>
