jp-site-header {
  .navbar {
    min-height: 55px;
    background-color: $primary-color;
  }
}
.navbar-nav{
  li{
    &.account {
      button {
        display: flex;
        padding: 4px 10px;
        margin: 5px 10px;
        i {
          align-self: center;
          font-size: 3em;
        }
        span {
          align-self: center;
        }
      }
    }
    &.active{
      button {
        color: $white;
      }
    }
  }
}
.navbar-brand {
  vertical-align: middle;
  padding-left: 15px;
  padding-top: 4px;
}
