<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="Jetpad" height=40 src="assets/img/jetpad-logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-menu-navbar-collapse">
      <ul *ngIf="!isLogged" class="nav navbar-nav navbar-right">
        <li><a routerLink="/login" routerLinkActive="active"><i class="icon icon-lock icon-middle"></i>Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active"><i class="icon icon-user icon-middle"></i>Register</a></li>
        <li class="about" (click)="popupExample.open()">
          <a>About</a>
          <jetpad-modal #popupExample>
            <jetpad-modal-header>hola header</jetpad-modal-header>
            <jetpad-modal-content>Contenido</jetpad-modal-content>
          </jetpad-modal></li>
      </ul>
      <ul *ngIf="isLogged" class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">User Menu</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
