jp-site-header {
  .navbar {
    min-height: 55px;
    background-color: $primary-color;
  }
}
.navbar-nav{
  li{
    a {
      color: $white;
    }
  }
}
.navbar-brand {
  vertical-align: middle;
  padding-left: 15px;
  padding-top: 4px;
}
