<div class="comments" id="comments">


  <div class="new" *ngIf="isNewComment()">

    <div *ngIf="!showInDialog" class="title">New comment</div>

    <div class="navigator">
        <span class="text">
          {{getText()}}
        </span>
    </div>

    <div class="form-group reply">
      <label class="control-label" for="commentText">Comment:</label>
      <textarea #commentText id="commentText" class="form-control" rows="4"></textarea>
      <div style="text-align: center" class="actions">
        <a href="javascript:void(0)" class="btn btn-default" (click)="cancel()">Cancel</a>
        <a href="javascript:void(0)" class="btn btn-primary" (click)="create(commentText)">Add</a>
      </div>
    </div>

  </div> <!-- new comment -->

  <div class="edit" *ngIf="isEditComment()">

    <div class="title">
      <span>Comments</span>
      <a href="javascript:void(0)" class="btn btn-primary" (click)="next()"><i class="material-icons">chevron_right</i></a>
      <a href="javascript:void(0)" class="btn btn-primary" (click)="prev()"><i class="material-icons">chevron_left</i></a>
    </div>

    <div class="navigator">
        <span class="text" (click)="focus()">
          {{comment.selectedText}}
        </span>
    </div>

    <div *ngIf="!comment.isResolved" class="actions text-center">
      <a href="javascript:void(0)" (click)="resolve()">Mark as resolved</a>
    </div>

    <div *ngIf="comment.isResolved" class="actions alert alert-dismissible alert-info text-center">
      This comment has been <strong>resolved!</strong>
    </div>


    <div class="list-group">

      <div *ngFor="let item of comment.replies; let i = index;" class="comment">
        <div class="list-group-item">
          <!--
          <div class="row-picture">
            <app-user-icon  [participantSession]="getParticipantSession(item.participantId)"></app-user-icon>
          </div>
        -->

          <div class="row-content" [style.border-left-color]="getParticipantColor(item.author)">
            <div *ngIf="item.author.profile.address == me.profile.address" (click)="deleteReply(item)" class="least-content"><i class="material-icons">delete</i></div>
            <p class="list-group-item-heading">{{item.author.profile.name}}</p>
            <!--<p class="list-group-item-text">{{item.time | moment}}</p>-->
            <p class="list-group-item-text">{{item.time}}</p>
          </div>

        </div>
        <div class="text">
          {{item.text}}
        </div>
      </div>

      <div *ngIf="!comment.isResolved" class="form-group reply">
        <label class="control-label" for="replyText">Reply:</label>
        <textarea #replyText id="replyText" class="form-control" rows="4"></textarea>
        <div style="text-align: center">
          <a [href]="getAnchorHref('comments')"class="btn btn-default btn-sm" (click)="cancelReply(replyText)">Cancel</a>
          <a href="javascript:void(0)" class="btn btn-primary btn-sm" (click)="reply(replyText)">Reply</a>
        </div>
      </div>

    </div>

  </div> <!-- edit comment -->

</div>
