.comments {

  display: block;
  min-width: $panel-right-min-width;
  margin-left: 1em;
  margin-right: 1em;
  overflow-x: hidden;


  .title {
    font-size: $panel-title-font-size;

    border-bottom-color: $panel-separator-line-color;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    margin-bottom: 1em;

    a {
      margin: 0px;
      padding: 0px;
      float: right;
    }
  }

  .form-group {

    height: auto;
    margin: 0px;

    .control-label {
      margin: 0px;
    }

    .form-control {
      height: auto;
      padding: 0px;
      margin: 0px;
    }
  }

  .navigator {

    .form-control {
      background: none;
    }

    .text {
      font-family: $comment-font-family;
      font-size: 14px;
      background-color: $comment-highlight-bg-color;
      padding: 0.1em;
    }

  }

  .actions {
    margin-top: 1.5em;
    margin-bottom: 2em;

    a {
      font-size: 12px;
    }
  }

  .reply {
    margin-top: 20px;
  }

  .list-group {

    margin-top: 10px;

    textarea {
      font-size: 14px;
    }

    .comment {
      margin-top: 2.2em;

      .text {
        font-style: italic;
        font-size: 14px;
      }
    }

    .list-group-item {

      padding: 0px;
      margin-bottom: 4px;

      .row-picture {
        vertical-align: top;
        padding-right: 6px;

        img {
          height: 36px;
          width: 36px;
        }
      }

      .row-content {

        min-height: 0;
        border-left-width: 2px;
        // border-left-color: #bdbdbd; set by component
        border-left-style: solid;
        padding-left: 10px;

        .least-content {
          font-size: 12px;

          .material-icons {
            font-size: 14px;
          }
        }

        .list-group-item-heading {
          margin: 0px;

          font-size: 12px;
          font-weight: bolder;
          line-height: normal;
        }

        .list-group-item-text {
          font-size: 12px;
        }

      }

    }

  }

}
