.profile-panel{
  margin-top: 4em;
  .row {
    .col-xs-12{
      h3 {
        margin-bottom: 20px;
      }
    }
    .col-sm-4 {
      .panel{
        hr {
          margin: 10px 0;
        }
        padding: 10px;
        .profile-subtitle {
          display: flex;
          justify-content: space-between;
          h4 {
            font-weight: bold;
            color: $primary-color;
          }
          i {
            align-self: center;
            font-size: 3em;
            color: $primary-color;
          }
        }
      }
    }
  }
}