.editor-header {
  background-color: $primary-color;
  .row {
    //height: 55px;
    overflow: hidden;
    padding: 5px 15px;
    .left-col {
      .navbar-brand {
        background-color: $primary-color;
        img {
          height: 50px;
        }
      }
    }
    .main-col {
      .menu-col-collapse {
        display: flex;
        align-items: center;
        margin-top: 5px;
        float: right;
        .contributors {
          margin-left: -5px;
        }
      }
      .row {
        .title-col {
          .title-text {
            color: whitesmoke;
            font-style: italic;
            font-size: 35px;
            font-family: 'Rubik', sans-serif;
            font-weight: 300;
          }
        }
        .menu-col {
          button {
            border-color: white;
            color: white;
          }
        }
      }
    }
  }
}
