<div class="editor-header">
  <div class="row">
    <div class="col-md-2 visible-md-block visible-lg-block left-col">
      <a class="navbar-brand">
        <img alt="Jetpad" height=40 src="assets/img/jetpad-logo.png">
      </a>
    </div>
    <div class="col-xs-12 col-md-10 main-col">
      <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-8 title-col">
          <span class="title-text">{{title}}</span>
        </div>
        <div class="col-xs-2 col-sm-4 col-md-4 menu-col">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#editor-menu-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div>
      </div>
      <jp-editor-menu [participants]="participants"></jp-editor-menu>
    </div>
  </div>
</div>

