.editor-header {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
  .row {

    padding: 0 15px;

    .left-col {
      .navbar-brand {
        background-color: $primary-color;
      }
    }

    .main-col {
      padding-right: 0;
    }

    .right-col {
      margin-top: 4px;

      .navbar-col-right {

        > ul {
          list-style-type: none;
          margin: 0px 0px;

          li {
            display: block;
            float: right;
          }
        }
      }

      .share {
        float: right;
        //width: 20%;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding-top: 9px;

        a {
          color: white;
        }
      }

      .participants {

        display: block;
        float: right  ;

        max-width: 60%;
        height: 40px;
        overflow: hidden;

        padding-right: 20px;
        padding-top: 4px;

        .view-more {
          margin-left: 16px;
          padding-top: 12px;

          .material-icons {
            color: white;
            font-size: 16px;
          }

        }

      }

    }

    .title-text{
      color: whitesmoke;
      font-size: 20px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;;
      max-width: 90%;
      margin-top: 3px;
    }

    .online-status {
      color: black;
      margin-left: 4px;
      display: inline-block;
    }

    .navbar-header{

      width: 100%;
      display:block;
      white-space: nowrap;
      overflow: hidden;

      .navbar-brand {
        width: 100%;
        display: flex;

        padding-right: 0px;
        padding-top: 10px;
        .actions{
          display: flex;
          input{
            float:left;
            background: none;
            border-top:none;
            border-right: none;
            border-left: none;
            border-bottom: white dashed 1px;
            color: white;
            font-size: 20px;
            min-width: 110%;
          }
          button.btn-xs{
            &.edit{
              color: white;
            }
            margin-top: -5px;
            padding: 9px;
            margin-bottom: -5px;
            margin-left: 5px;
            font-weight: bold;
          }
        }
      }

      .material-icons {
        font-size: 18px;
      }
    }

    .navbar-toggle {
      margin-right: 10px;
      margin-bottom: 0px;
      padding: 0px 0px;
      color: $white;
    }
    button {
      border-width: 0;
    }

  }
}
