<div class="editor-header">

  <div class="row">
    <div class="col-md-2 visible-md-block visible-lg-block left-col">
      <a class="navbar-brand">
        <a href="/"><img alt="Jetpad" height=40 src="assets/img/jetpad-logo.png"></a>
      </a>

    </div>

    <div class="col-xs-6 col-sm-8 col-md-6 main-col">
      <div class="navbar-header">
        <span class="navbar-brand">
          <span class="title-text">
            {{title}}
          </span>
          <i class="online-status material-icons" *ngIf="status != 'CONNECTED'" >cloud_off</i>
        </span>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4 right-col">
      <div class="navbar-col-right">
        <jp-editor-menu></jp-editor-menu>

        <ul class="participants">
          <!--horizontal menu for other devices -->
          <li *ngFor="let participant of participants">
            <!-- | slice:0:6 -->
            <app-user-icon *ngIf="participant.session.online"  [user]="participant"></app-user-icon>
          </li>
        </ul>

      </div>
    </div>

  </div>
</div>
