<div class="editor-header">

  <div class="row">
    <div class="col-md-2 visible-md-block visible-lg-block left-col">
      <a class="navbar-brand">
        <a [routerLink]="['/']"><img alt="Jetpad" height=40 src="assets/img/jetpad-logo.png"></a>
      </a>

    </div>

    <div class="col-xs-8 col-sm-8 col-md-6 main-col">

        <span *ngIf="!titleEdit" class="title-text" (click)="startTitleEdit()" style="padding-top: 8px">
            {{title}}
        </span>

        <span *ngIf="titleEdit" style="display: inline-block;  padding-top: 11px;  width: auto;">
            <input id="titleInput" type="text" class="" style="display: inline-block; width:60%;"
                  [formControl]="titleFC" required>
            <span style="display: inline-block;" (click)="saveTitleEdit()">Save</span>             
            <span style="display: inline-block;" (click)="cancelTitleEdit()">Cancel</span>   
        </span>



        <span *ngIf="status == 'DISCONNECTED' || status == 'CONNECTING' || status == 'TURBULENCE'"
          class="label label-warning">Disconnected (trying to reconnect...)</span>

        <span *ngIf="status == 'ERROR'"
          class="label label-default">Disconnected (Unable to reconnect)</span>
        
        <span [hidden]="status != 'CONNECTED'" class="actions visible-md-block visible-lg-block">            
        </span>


    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 right-col">
      <div class="navbar-col-right">



        <jp-editor-menu
            [participantsRecent]="participants"
            [participantsPast]="participantsPast"
            [me]="me"

            [headers]="headers"

            [commentAction]="commentAction"
            [comment]="comment"
            [commentSelection]="commentSelection"

            (menuActionEvent)="menuActionEvent.emit($event)">
        </jp-editor-menu>


        <div class="share hidden-xs">
          <a href="javascript:void(0)" class="" data-placement="top" title="Share the document with your partners"
             (click)="menuActionEvent.emit({  event: 'share'  });" >Share</a>
        </div>


        <ul class="participants">
          <!--horizontal menu for other devices -->
          <li *ngFor="let participant of participants">
            <!-- | slice:0:6 -->
            <app-user-icon *ngIf="participant.session.online"  [participantSession]="participant"></app-user-icon>
          </li>
        </ul>

      </div>
    </div>

  </div>
</div>
