.editor-header {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
  .row {
    padding: 0 15px;
    .left-col {
      .navbar-brand {
        background-color: $primary-color;
      }
    }
    .main-col {
      padding-right: 0;
      .navbar-header{

        .title-text{
          color: whitesmoke;
          font-size: 20px;
          padding-top: 15px;
        }
        .navbar-toggle {
          margin-right: 10px;
          margin-bottom: 0px;
          color: $white;
        }
        button {
          border-width: 0;
          padding: 6px 6px;
        }
      }
    }
  }
}
