<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

  <app id="loadIndicator">


    <div style="margin-top: 6em; width:100%; text-align: center">
      <div>
        <img src="assets/img/loading_icon.gif" height="200">
      </div>
    </div>

  </app>

  <script>
  __atmosphere_config = {
    // Configure network
  };
  // Configure editor globals
  __swellrt_editor_config = {
    enableLog: false
  };
  </script>


  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <script src="http://localhost:9898/swellrt-beta.js"></script>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } else { %>
  <script src="/swellrt-beta.js"></script>
  <% } %>

</body>
</html>
