.editor-menu{
  .menu-collapsed{
    list-style-type: none;
    margin-top: 5px;
    .main-entry{
      color: white;
      font-size: 18px;
      font-weight: bold;
    }
    li{
      &.visible-sm{
        margin: 0 5px;
        &.main-entry{
          margin-top: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}
.view-more {
  .material-icons{
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    background: none;
    border: none;
  }
}
