<div class="editor-menu collapse navbar-collapse" id="jp-editor-menu">
  <ul class="menu-collapsed nav navbar-nav navbar-right">
    <!-- vertical menu for mobiles -->
    <li class="main-entry visible-xs" (click)="openModal()">Outline</li>
    <li class="main-entry visible-xs" (click)="openModal()">Participants</li>
    <!--horizontal menu for other devices -->
    <li class="main-entry visible-sm" (click)="openModal()">Outline</li>
    <li class="contributor visible-sm visible-md visible-lg" *ngFor="let participant of participants">
      <app-user-icon [user]="participant"></app-user-icon>
    </li>
  </ul>
</div>
