.editor-menu {

  display: block;
  max-width: 20%;
  float: right;

  button {
    margin: 0px 0px;
    padding: 9px 0px;

    .material-icons {
      color: white;
      font-size: 22px;
    }
  }

  .dropdown-menu {
    margin-top: 8px;
  }

  li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
