<div id="jp-editor-menu" class="editor-menu">

  <div class="dropdown visible-xs-block visible-sm-block">
      <button class="btn btn-default dropdown-toggle" type="button" id="editorDropwdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="editorDropwdownMenu">
         <li><a href="javascript:void(0)" (click)="shareEvent.emit()">Share</a></li>
         <li><a href="javascript:void(0)" (click)="showOutlineModal()">Outline</a></li>
         <li><a href="javascript:void(0)" (click)="showContributorsModal()">Contributors</a></li>
      </ul>
  </div>

</div>
