.user-icon {
  margin-right: -10px;
  padding-top: 2px;
  height: 40px;
  display: inline-block;
  .pipe {
    margin-top: 4px !important;
  }
  .img-circle {
    height: 36px;
    width: 36px;
  }
  .not-avatar {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    color: white;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    z-index: 5;
    position: relative;
    @include border-radius(20px);
    &:hover {
      z-index: 15;
    }
  }
  .user-avatar {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .online-mark {
    position: absolute;
    display: block;
    z-index: 100;
    bottom: 0px;

    width: 12px;
    height: 12px;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    border-style: solid;
    border-width: 1px;

    color: rgba(255, 255, 255, 0.6);
  }
}

.user-info {
  margin-top: -5px;
  .name-icon {
    float: left;
    margin-top: 13.5px;
    padding-left: 10px;
  }
  .header-icon {
    float:left;
    span {
      top: 5px;
    }
    img {
      position: relative;
      top: 5px;
    }
  }
}
